edge-tts==7.2.7
misaki[zh]==0.9.4
transformers==5.5.0
mlx-audio==0.4.4; sys_platform == 'darwin'
onnxruntime>=1.16.0; sys_platform == 'win32' or sys_platform == 'linux'
soundfile>=0.12.1; sys_platform == 'win32' or sys_platform == 'linux'
kokoro-onnx>=0.5.0; sys_platform == 'win32' or sys_platform == 'linux'


